.row {
    display: grid;
    grid-template-rows: repeat(5, 428px);
    grid-template-columns: repeat(4, 290px);
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 80px;
}

.catalog_body {
    margin: 100px 0px;
}