@import url('../../varialbels.css');

.flex_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.footer__logo_sbtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color-default);
    margin: 10px 0px;
}

.footer__social_vk {
    margin-right: 20px;
    cursor: pointer;
}

.footer__social_telegram {
    cursor: pointer;
}
