.flex_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.footer__logo_sbtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2B2B2B;
    margin: 0px;
}

.footer__social_vk {
    margin-right: 20px;
    cursor: pointer;
}

.footer__social_telegram {
    cursor: pointer;
}